APP_NAME="Minha Aplicação"
APP_ENV=Development
APP_URL=http://localhost:8000

DB_DRIVER=mysql
# DB_DSN=sqlite:database/database.sqlite
DB_HOST=db
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=secret
